body {
	margin: 0;
	padding: 0;
	background-color: #634e33;
	color: white;
	font-size: 20px;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.header {
	position: fixed;
	top: 0;
	width: 100%;
	margin: 0px;
	height: 70px;
	border-bottom: solid 1px #000;
	z-index: 100;
	background-color: #c49e6d;
}

.header h2 {
	display: none;
	margin-left: 20px;
	color: black;
}

.header-links {
	float: right;
	left: -30px;
	position: relative;
	top: 25px;
}

.header-links a {
	text-decoration: none;
	font-size: 20px;
	padding: 20px 5px;
	color: black;

}

.header-links a:hover {
	background-color: #af8e62;
}

.sidebar {
	position: relative;
	display: block;
	text-align: center;
	top: 100px;
	margin-left: 15px;
	margin-bottom: 50px;
	width: 100%;
}

.sidebar li {
	list-style: none;
}

.sidebar a {
	text-decoration: none;
	border: solid 1px #493a26;
	border-radius: 5px;
	background-color: #493a26;
	padding: 5px 10px;
	color: white;
	margin: 5px 0px;
}

.sidebar a:hover {
	background-color: #382c1d;

}

.main-container {
	display: inline-block;
	position: relative;
	top: 80px;
	width: 100%;
	padding: 0 20px;
}

.main-container a {
	text-decoration: none;
	border: solid 1px #493a26;
	border-radius: 5px;
	background-color: #493a26;
	padding: 5px 10px;
	color: white;
	white-space: nowrap;
}

.main-container a:hover {
	background-color: #382c1d
}

.portfolio-container {
	position: relative;
	top: 80px;
	width: 100%;
}

.portfolio-container h3 {
	border-bottom: solid 1px #c3c6cc;
	width: 100%;
}

.project {
	width: 100%;
	display: inline-block;
	vertical-align: top;
	padding: 0px 10px;
	margin: 0;

}

.project a {
	text-decoration: none;
	border: solid 1px #493a26;
	border-radius: 5px;
	background-color: #493a26;
	padding: 5px 20px;
	color: white;
	white-space: nowrap;
}

.project a:hover {
	background-color: #382c1d
}

.project img {
	width: 100%;
}

.resume-container {
	display: inline-block;
	position: relative;
	top: 80px;
	width: 75%;
	margin-bottom: 70px;
	padding: 0px 20px;
}

.resume-container h2 {
	border-bottom: solid 1px #c3c6cc;
}

.resume-container h3 {
	margin: 25px 0px 5px 0px;
}

.resume-container a {
	text-decoration: none;
	border: solid 1px #493a26;
	border-radius: 5px;
	background-color: #493a26;
	padding: 10px 10px;
	color: white;
}

.resume-container a:hover {
	background-color: #382c1d;
}

.resume-place-info {
	position: relative;
	margin-left: 25px;
	margin-bottom: 50px;
}

@media (min-width: 480px) {
	.header h2 {
		display: inline-block;
	}
}

@media (min-width: 768px) {
	.sidebar {
		width: 25%;
		float: left;
		position: fixed;
		text-align: left;
	}
	.main-container, .portfolio-container, .resume-container {
		width: 75%;
		float: left;
		margin-left: 240px;
	}
	.project {
		width: 80%;
	}
}

@media (min-width: 1000px) {
	.project {
		width: 49%;
		padding: 5px 10px;
	}
}