[submodule "etch-a-sketch"]
	path = etch-a-sketch
	url = https://github.com/travisvesbach/etch-a-sketch
[submodule "pomodoro_timer"]
	path = pomodoro_timer
	url = https://github.com/travisvesbach/pomodoro_timer
[submodule "responsive_design"]
	path = responsive_design
	url = https://github.com/travisvesbach/responsive_design
[submodule "bootstrap_newsweek"]
	path = bootstrap_newsweek
	url = https://github.com/travisvesbach/bootstrap_newsweek
